.ivu-menu{
  background-color:#FCFCFC;
  border-radius: 5px;
}
.ivu-menu>.ivu-menu-item{
  width:25%;
  border-right:1px solid #E9EAE7;
  font-size:20px;
  text-align:center;
  font-color:#59850b;
}
.ivu-menu-item:hover{
  color:#B9C89F;
}
