.ivu-page-item-active {
  background-color: #339A1A;
  border-color: #3399ff;
}
.button{
  background-color: #B9C89F;
  border: none;
  color: #718D1C;
  font-weight: bold;
  border: 1px solid #B9C89F;
}
.button:hover{
  background-color: #B9C89F;
  border: none;
  color: #718D1C;
  font-weight: bold;
  border: 1px solid #B9C89F;
}
